*.pyc
*.sqlite3


.elasticbeanstalk/
UMSecurity/games/migrations/
www/static_Root/


# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

