*.pyc
*.sqlite3


/UMSecurity/games/migrations/
/UMSecurity/games/migrations/*
*/static_Root/
*/static_Root/*


# Elastic Beanstalk Files

.elasticbeanstalk/
.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

/UMSecurity/UMSecurity/DataDump.json
/UMSecurity/UMSecurity/settings.py
*/polls/*
*/polls/
