packages:
  yum:
    git: []

container_commands:
  00_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python UMSecurity/manage.py makemigrations"
    leader_only: true
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python UMSecurity/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python UMSecurity/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "chmod 777 /opt/python/current/app/www/static_Root -R"
    leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python UMSecurity/manage.py collectstatic --noinput"
    
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "UMSecurity.settings"
    PYTHONPATH: "/opt/python/current/app/UMSecurity:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "UMSecurity/UMSecurity/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static_Root/"
