packages:
  yum:
    git: []
    lapack: []
    lapack-devel: []
    blas: []
    blas-devel: []
    blas-static: []
    lapack-static: []

    
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "UMSecurity.settings"
    PYTHONPATH: "/opt/python/current/app/UMSecurity:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "UMSecurity/UMSecurity/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static_Root/"
