packages:
  yum:
    git: []
    lapack: []
    lapack-devel: []
    blas: []
    blas-devel: []
    blas-static: []
    lapack-static: []
    gcc-c++: []

container_commands:
  01_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python UMSecurity/manage.py makemigrations games"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python UMSecurity/manage.py migrate --noinput"
    leader_only: true
        
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "UMSecurity.settings"
    PYTHONPATH: "/opt/python/current/app/UMSecurity:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "/opt/python/current/app/UMSecurity/UMSecurity/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static_Root/"
