body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

ul li {
  font-size: 20px;
}

.text-center td,th {
   text-align: center;
}

h4 p {
   line-height: 160%;
}

@media(max-width: 767px){
    .btn-lg {
      font-size: 10px;
    }
    h2 {
      font-size: 16px;
    }
    h3, h4, p {
      font-size: 13px;
    }
    ul li {
      font-size: 13px;
    }
    .jumbotron p {
      font-size: 13px;
    }
}