{% extends "base.html" %}

{% block title %}{{ gameNum }}{% if gameNum == 1 %}st{% elif gameNum == 2 %}nd{% elif gameNum == 3 %}rd{% endif %} Game{% endblock %}

{% block leftcontent %}
  <div class="" id="InstructionsDIV">
    <h1>{{ gameNum }}<sup>{% if gameNum == 1 %}st{% elif gameNum == 2 %}nd{% elif gameNum == 3 %}rd{% endif %}</sup> Game</h1>
    <h3 id="PartNum">Part 1</h3>
    <p id="Instruction0" style="display:none;">This game involves a lottery which is based on the results of a rolled ten-sided die.</p>
    <ul>
      <li id="Instruction1" style="display:none;">There are 10 lotteries and each lottery is represented by a row in the following table.</li>
      <li id="Instruction2" style="display:none;">For each lottery, please choose either option A or B. The roll of a ten-sided die will determine your payoff in the chosen lottery. Each outcome, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, is equally likely.</li>
      <li id="Instruction3" style="display:none;">For example, in the fifth row:
          <table class="table holt-laury-table">
            <thead>
              <tr class="text-center">
                <td class="ColumnHeader">Lottery</td>
                <td class="ColumnHeader">Option A</td>
                <td class="ColumnHeader">Option B</td>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td class="ColumnHeader">5</td>
                <td class="slim">
                  <button type="button" class="btn btn-lg btn-info btn-block">
                    <table style="background-color: none; width:100%;">
                      <tr class="die0">
                        <td style="text-align:left;">die is 1-5: </td>
                        <td style="text-align:right;">$5</td>
                      </tr>
                      <tr class="die1">
                        <td style="text-align:left;">die is 6-10: </td>
                        <td style="text-align:right;">$4</td>
                      </tr>
                    </table>
                  </button>
                </td>
                <td class="slim">
                  <button type="button" class="btn btn-lg btn-info btn-block">
                    <table style="background-color: none; width:100%;">
                      <tr class="die0">
                        <td style="text-align:left;">die is 1-5: </td>
                        <td style="text-align:right;">$10</td>
                      </tr>
                      <tr class="die1">
                        <td style="text-align:left;">die is 6-10: </td>
                        <td style="text-align:right;">$1</td>
                      </tr>
                    </table>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p>If you choose option A:</p>
          <ul>
            <li>If the rolled die is between 1 and 5, you will receive $5;</li>
            <li>If the rolled die is between 6 and 10, you will receive $4.</li>
          </ul>
          <p>If you choose option B:</p>
          <ul>
            <li>If the rolled die is between 1 and 5, you will receive $10;</li>
            <li>If the rolled die is between 6 and 10, you will receive $1.</li>
          </ul>
      </li>
      <li id="Instruction4" style="display:none;">Please choose an option for each of the 10 lotteries and then submit your choices.</li>
      <li id="Instruction5" style="display:none;">The computer will then randomly pick one of the 10 lotteries, roll the die, and determine your payoff.</li>
      <li id="Instruction6" style="display:none;">You won <b>$<span id="PointsInInstructions">1234</span></b>.</li>
      <li id="Instruction7" style="display:none;">Are you willing to pay some money to find out which of the 10 lotteries was used?</li>
      <li id="Instruction8" style="display:none;">The computer has randomly picked an amount of money between $0 and $4. Please choose any amount between $0 and $4, inclusive, to indicate your willingness to pay for the information.
        <ul>
          <li id="Instruction9" style="display:none;">If your chosen amount is greater than or equal to the amount picked by the computer, you will find out which lottery was used and then pay the price equal to the amount picked by the computer.</li>
          <li id="Instruction10" style="display:none;">Otherwise, you will not find out which lottery was used and will pay nothing.</li>
        </ul>
      </li>
    </ul>
    <p id="Instruction11" style="display:none;">
      Please enter your chosen amount to continue.
      <h4>
        <div class="row">
          <div class="col-xs-6">
          </div>
          <div class="col-xs-3">
            <input type="text" name="WillingnessAmount" id="WillingnessAmount" style="display:none;" class="form-control" placeholder="Amount">
          </div>
          <div class="col-xs-3">
          </div>
        </div>
        <input type="submit" class="btn btn-lg btn-success pull-right" id="WillingnessBtn" value="Submit" style="display:none;">
      </h4>
    </p>
    <h4 id="WillingnessError" style="color: red; display:none;">Please enter an amount between $0 and $4.</h4>
    <div class="WillingnessSection" style="display:none;">
      <h4 class="text-success WillingnessResult"></h4>
      <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-lg btn-success" id="Continue" style="display:none;">Continue...</button>
        </div>
        <div class="col-xs-4">
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block rightcontent %}
  <input type="hidden" name="Decision1" id="Decision1" value="">
  <input type="hidden" name="Decision2" id="Decision2" value="">
  <input type="hidden" name="Decision3" id="Decision3" value="">
  <input type="hidden" name="Decision4" id="Decision4" value="">
  <input type="hidden" name="Decision5" id="Decision5" value="">
  <input type="hidden" name="Decision6" id="Decision6" value="">
  <input type="hidden" name="Decision7" id="Decision7" value="">
  <input type="hidden" name="Decision8" id="Decision8" value="">
  <input type="hidden" name="Decision9" id="Decision9" value="">
  <input type="hidden" name="Decision10" id="Decision10" value="">

  <div style="margin-top:31px;">
    <table class="table holt-laury-table">
      <thead>
        <tr id="row0" class="text-center">
          <td class="ColumnHeader">Lottery</td>
          <td class="ColumnHeader">Option A</td>
          <td class="ColumnHeader">Option B</td>
        </tr>
      </thead>
      <tbody>
        <tr id="row1" class="text-center">
          <td class="ColumnHeader">1</td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision1OptionA" name="A">
              <table style="background-color: none; width:100%; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1: </td>
                  <td style="text-align:right;">$5</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 2-10: </td>
                  <td style="text-align:right;">$4</td>
                </tr>
              </table>
            </button>
          </td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision1OptionB" name="B">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1: </td>
                  <td style="text-align:right;">$10</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 2-10: </td>
                  <td style="text-align:right;">$1</td>
                </tr>
              </table>
            </button>
          </td>
        </tr>
        <tr id="row2" class="text-center">
          <td class="ColumnHeader">2</td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision2OptionA" name="A">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-2: </td>
                  <td style="text-align:right;">$5</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 3-10: </td>
                  <td style="text-align:right;">$4</td>
                </tr>
              </table>
            </button>
          </td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision2OptionB" name="B">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-2: </td>
                  <td style="text-align:right;">$10</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 3-10: </td>
                  <td style="text-align:right;">$1</td>
                </tr>
              </table>
            </button>
          </td>
        </tr>
        <tr id="row3" class="text-center">
          <td class="ColumnHeader">3</td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision3OptionA" name="A">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-3: </td>
                  <td style="text-align:right;">$5</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 4-10: </td>
                  <td style="text-align:right;">$4</td>
                </tr>
              </table>
            </button>
          </td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision3OptionB" name="B">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-3: </td>
                  <td style="text-align:right;">$10</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 4-10: </td>
                  <td style="text-align:right;">$1</td>
                </tr>
              </table>
            </button>
          </td>
        </tr>
        <tr id="row4" class="text-center">
          <td class="ColumnHeader">4</td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision4OptionA" name="A">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-4: </td>
                  <td style="text-align:right;">$5</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 5-10: </td>
                  <td style="text-align:right;">$4</td>
                </tr>
              </table>
            </button>
          </td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision4OptionB" name="B">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-4: </td>
                  <td style="text-align:right;">$10</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 5-10: </td>
                  <td style="text-align:right;">$1</td>
                </tr>
              </table>
            </button>
          </td>
        </tr>
        <tr id="row5" class="text-center">
          <td class="ColumnHeader">5</td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision5OptionA" name="A">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-5: </td>
                  <td style="text-align:right;">$5</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 6-10: </td>
                  <td style="text-align:right;">$4</td>
                </tr>
              </table>
            </button>
          </td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision5OptionB" name="B">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-5: </td>
                  <td style="text-align:right;">$10</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 6-10: </td>
                  <td style="text-align:right;">$1</td>
                </tr>
              </table>
            </button>
          </td>
        </tr>
        <tr id="row6" class="text-center">
          <td class="ColumnHeader">6</td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision6OptionA" name="A">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-6: </td>
                  <td style="text-align:right;">$5</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 7-10: </td>
                  <td style="text-align:right;">$4</td>
                </tr>
              </table>
            </button>
          </td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision6OptionB" name="B">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-6: </td>
                  <td style="text-align:right;">$10</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 7-10: </td>
                  <td style="text-align:right;">$1</td>
                </tr>
              </table>
            </button>
          </td>
        </tr>
        <tr id="row7" class="text-center">
          <td class="ColumnHeader">7</td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision7OptionA" name="A">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-7: </td>
                  <td style="text-align:right;">$5</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 8-10: </td>
                  <td style="text-align:right;">$4</td>
                </tr>
              </table>
            </button>
          </td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision7OptionB" name="B">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-7: </td>
                  <td style="text-align:right;">$10</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 8-10: </td>
                  <td style="text-align:right;">$1</td>
                </tr>
              </table>
            </button>
          </td>
        </tr>
        <tr id="row8" class="text-center">
          <td class="ColumnHeader">8</td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision8OptionA" name="A">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-8: </td>
                  <td style="text-align:right;">$5</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 9-10: </td>
                  <td style="text-align:right;">$4</td>
                </tr>
              </table>
            </button>
          </td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision8OptionB" name="B">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-8: </td>
                  <td style="text-align:right;">$10</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 9-10: </td>
                  <td style="text-align:right;">$1</td>
                </tr>
              </table>
            </button>
          </td>
        </tr>
        <tr id="row9" class="text-center">
          <td class="ColumnHeader">9</td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision9OptionA" name="A">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-9: </td>
                  <td style="text-align:right;">$5</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 10: </td>
                  <td style="text-align:right;">$4</td>
                </tr>
              </table>
            </button>
          </td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision9OptionB" name="B">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-9: </td>
                  <td style="text-align:right;">$10</td>
                </tr>
                <tr class="die1">
                  <td style="text-align:left;">die is 10: </td>
                  <td style="text-align:right;">$1</td>
                </tr>
              </table>
            </button>
          </td>
        </tr>
        <tr id="row10" class="text-center">
          <td class="ColumnHeader">10</td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision10OptionA" name="A">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-10: </td>
                  <td style="text-align:right;">$5</td>
                </tr>
              </table>
            </button>
          </td>
          <td class="slim">
            <button type="button" class="btn btn-lg btn-info btn-game btn-block" id="Decision10OptionB" name="B">
              <table style="background-color: none; width:100%;">
                <tr class="die0">
                  <td style="text-align:left;">die is 1-10: </td>
                  <td style="text-align:right;">$10</td>
                </tr>
              </table>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="3"><!-- <h4 id="SubmitSection">If you select an option for every row, the submit button will appear.&nbsp;&nbsp;&nbsp;</h4> -->
            <input type="submit" class="btn btn-lg btn-default pull-right disabled" id="SubmitBtn" value="Submit">
            <h4 id="errorMessage" style="color: red; display:none;">Please select an option for evey row.</h4>
            <h4 class="text-success" id="ResultNode"></h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scontent %}
  <!-- JavaScript code for this project -->
  <script>
    $(document).ready(function() {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        {% if decision %}
            var decision = {{ decision }};
            var die = [];
            die[1] = {{ die.1 }};
            die[2] = {{ die.2 }};
            die[3] = {{ die.3 }};
            die[4] = {{ die.4 }};
            die[5] = {{ die.5 }};
            die[6] = {{ die.6 }};
            die[7] = {{ die.7 }};
            die[8] = {{ die.8 }};
            die[9] = {{ die.9 }};
            die[10] = {{ die.10 }};
            var option = [];
            option[1] = {{ option.1|yesno:"true,false" }};
            option[2] = {{ option.2|yesno:"true,false" }};
            option[3] = {{ option.3|yesno:"true,false" }};
            option[4] = {{ option.4|yesno:"true,false" }};
            option[5] = {{ option.5|yesno:"true,false" }};
            option[6] = {{ option.6|yesno:"true,false" }};
            option[7] = {{ option.7|yesno:"true,false" }};
            option[8] = {{ option.8|yesno:"true,false" }};
            option[9] = {{ option.9|yesno:"true,false" }};
            option[10] = {{ option.10|yesno:"true,false" }};
            var originalPoints = {{ originalPoints }};
            // $("#SubmitSection").hide();
            $("#SubmitBtn").hide();
            $(".WillingnessSection").show();
            $("#PartNum").html("Part 1 is complete. Follow the instructions below for part 2.");
            $("#PartNum").css("color", "red");
            $("#PartNum").css("font-weight", "normal");
            $("#Instruction6").show();
            $("#Instruction7").show();
            $("#Instruction8").show();
            $("#Instruction9").show();
            $("#Instruction10").show();
            $("#Instruction11").show();
            $("#WillingnessAmount").show();
            $("#PointsInInstructions").html(originalPoints);
            $("#ResultNode").html("You earned $" + originalPoints + ".");

            var result = {{ result }};
            var willingnessRand = {{ willingnessRand }};
            var willingnessNum = {{ willingnessNum }};

            for (i = 1; i <= 10; i++) {
              if (option[i] == 0) {
                $("#Decision" + i + "OptionA").removeClass("btn-game").removeClass("btn-info").addClass( "btn-success" );
                $("#Decision" + i + "OptionB").removeClass("btn-game").removeClass("btn-info").addClass( "btn-default" );
              }
              else if (option[i] == 1) {
                $("#Decision" + i + "OptionB").removeClass("btn-game").removeClass("btn-info").addClass( "btn-success" );
                $("#Decision" + i + "OptionA").removeClass("btn-game").removeClass("btn-info").addClass( "btn-default" );
              }
            }

            if (willingnessRand != 16) {
              if (willingnessNum >= willingnessRand) {
                  var selectedRow = $("#row" + decision);
                  var headerRow = $("#row0");
                  $(".WillingnessResult").html("<p>The amount chosen by the computer is $" + 
                          willingnessRand + ".</p><p>Your willingness to pay is $" + willingnessNum + ".</p><p>$" + willingnessRand + " &le; $" + 
                          willingnessNum + "</p><p>&#10140; You got to find out which lottery was selected and you paid $" + willingnessRand + " for it.</p>");
                  for (i = 1; i <= 10; i++) {
                      if (i != decision) {
                          $("#row" + i).hide();
                      }
                  }
                  var selectedRow = $("#row" + decision);
                  var headerRow = $("#row0");
                  if (option[decision] == 0) {
                    selectedRow.children("td:eq(2)").css("color", "black");
                    selectedRow.children("td:eq(2)").css("text-decoration", "line-through");
                    // headerRow.children("td:eq(2)").css("color", "black");
                  }
                  else if (option[decision] == 1) {
                    selectedRow.children("td:eq(1)").css("color", "black");
                    selectedRow.children("td:eq(1)").css("text-decoration", "line-through");
                    // headerRow.children("td:eq(1)").css("color", "black");
                  }
                  if (die[decision] > decision) {
                      selectedRow.find(".die0").css("color", "black");
                      selectedRow.find(".die0").css("text-decoration", "line-through");
                  }
                  else if (die[decision] <= decision) {
                      selectedRow.find(".die1").css("color", "black");
                      selectedRow.find(".die1").css("text-decoration", "line-through");
                  }
                  $("#ResultNode").html("<p>The computer randomly chose lottery " + 
                      decision + ".</p><p>The computer rolled the die and got a " + die[decision] + ".</p><p>&#10140; You earned $" + originalPoints + ".</p>");
                  $(".WillingnessResult").removeClass("text-danger").addClass( "text-success" );
              }
              else {
                  $(".WillingnessResult").html("<p>The amount chosen by the computer is $" + 
                          willingnessRand + ".</p><p> Your willingness to pay is $" + willingnessNum + ".</p><p>" + willingnessRand + " > " + 
                          willingnessNum + "</p><p>&#10140; You don't get to find out which lottery was selected.</p>");
                  $(".WillingnessResult").removeClass("text-success").addClass( "text-danger" );
              }
              $("#WillingnessBtn").hide();
              $("#Instruction11").hide();
              $("#WillingnessAmount").hide();
              $("#Continue").show();
            }

        {% else %}
          $("#Instruction0").show();
          $("#Instruction1").show();
          $("#Instruction2").show();
          $("#Instruction3").show();
          $("#Instruction4").show();
          $("#Instruction5").show();
        {% endif %}

        var instructionsOriginalHeight = $( "#InstructionsDIV" ).css("height");
        $(".HideInstructions").click(function(){
            if ($(".HideInstructions").text().indexOf("Hide Instructions") > -1) {
              $( "#InstructionsDIV" ).animate({
                height: "190px"
              }, 2500, function() {
                $(".HideInstructions:eq(1)").hide();
                $(".HideInstructions").text("Show Instructions");
              });
            }
            else if ($(".HideInstructions").text().indexOf("Show Instructions") > -1) {
              $( "#InstructionsDIV" ).animate({
                height: instructionsOriginalHeight
              }, 2500, function() {
                $(".HideInstructions:eq(1)").show();
                $(".HideInstructions").text("Hide Instructions");
              });
            }
        });

        $(".btn-game").click(function(){
          if ( $(this).hasClass('btn-game') ) {
            $("#errorMessage").hide();
            if ($(this).hasClass( "btn-info" )) {
                $(this).removeClass( "btn-info" );
                var siblingBtn = $(this).parent().parent().find(".btn-game.btn-info");
                siblingBtn.removeClass( "btn-info" );
                siblingBtn.addClass( "btn-default" );
                $(this).addClass( "btn-success" );
            }
            else if ($(this).hasClass( "btn-default" )) {
                $(this).removeClass( "btn-default" );
                var siblingBtn = $(this).parent().parent().find(".btn-game.btn-success");
                siblingBtn.removeClass( "btn-success" );
                siblingBtn.addClass( "btn-default" );
                $(this).addClass( "btn-success" );
            }
            if ($(this).parent().parent().parent().find( ".btn-success" ).length == 10) {
                $("#SubmitBtn").removeClass("disabled");
                $("#SubmitBtn").removeClass("btn-default");
                $("#SubmitBtn").addClass( "btn-success" );
            }
            var thisId = $(this).attr('id');
            var inputId = thisId.substring(0, thisId.length - 7);
            $("#" + inputId).val(this.name);
          }
        });

        $("#SubmitBtn").click(function(){
          if ( !$(this).hasClass('disabled') ) {
            var DecisionOptionsComplete = true;
            var DecisionsOption = [];
            for (i = 1; i <= 10; i++) { 
                DecisionsOption[i] = $("#Decision" + i).val();
                if (DecisionsOption[i] == "A") {
                    DecisionsOption[i] = 0;
                }
                else if (DecisionsOption[i] == "B") {
                    DecisionsOption[i] = 1;
                }
                else {
                    DecisionOptionsComplete = false;
                    $("#errorMessage").show();
                    return 0;
                }
            }
            $(".btn-game").removeClass( "btn-game" );
            
            $.ajax({
                type: 'Post',
                dataType: 'json',
                url: '../lottery/Submit',
                data: JSON.stringify({ 'DecisionsOption': DecisionsOption }),
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (data) {
                  var decision = data.decision;
                  var die = data.die;
                  var result = data.result;
                  $("#ResultNode").html("You earned $" + result + ".");
                  // $("#SubmitSection").hide();
                  $("#SubmitBtn").hide();
                  $(".WillingnessSection").show();
                  $("#Instruction0").hide();
                  $("#Instruction1").hide();
                  $("#Instruction2").hide();
                  $("#Instruction3").hide();
                  $("#Instruction4").hide();
                  $("#PointsInInstructions").html(result);
                  $("#Instruction5").hide();
                  $("#PartNum").html("Part 1 is complete. Follow the instructions below for part 2.");
                  $("#PartNum").css("color", "red");
                  $("#PartNum").css("font-weight", "normal");
                  $("#Instruction6").show();
                  $("#Instruction7").show();
                  $("#Instruction8").show();
                  $("#Instruction9").show();
                  $("#Instruction10").show();
                  $("#Instruction11").show();
                  $("#WillingnessAmount").show();
                  setTimeout( function() {
                    $('.transBackground').mCustomScrollbar("scrollTo","top");
                  }, 1000);
                },
                error: function (data) {
                    alert( "An error occurred. Please try again." );
                }
            });
          }
        });

        function checkWillingnessValue(value) {
          if (value != "" && $.isNumeric(value) && parseFloat(value) >= 0 && parseFloat(value) <= 4) {
              $("#WillingnessBtn").show();
              $("#WillingnessError").hide();
              return true;
          }
          else {
              $("#WillingnessError").show();
              $("#WillingnessBtn").hide();
              return false;
          }
        }

        $("#WillingnessAmount").on("input", function(){
            var value = $(this).val();
            checkWillingnessValue(value);
        });

        $("#WillingnessBtn").click(function(){
          var value = $("#WillingnessAmount").val();
          if (checkWillingnessValue(value)) {
          
            var willingnessNum = parseFloat(value);

            $.ajax({
                type: 'Post',
                dataType: 'json',
                url: '../lottery/Willingness',
                data: JSON.stringify({ 'willingnessNum': willingnessNum }),
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (data) {
                    var willingnessRand = data.willingnessRand;
                    var decision = data.decision;
                    var die = data.die;
                    var option = data.option;
                    var result = data.result;
                    var originalPoints = data.originalPoints;
                    if (willingnessNum >= willingnessRand) {
                        var selectedRow = $("#row" + decision);
                        var headerRow = $("#row0");
                        $("#ResultNode").html("The computer randomly chose lottery " + decision + ".");
                        for (i = 1; i <= 10; i++) {
                          if (i != decision) {
                            $("#row" + i).hide(2500);
                          }
                        }
                        setTimeout(function() {
                            var selectedRow = $("#row" + decision);
                            var headerRow = $("#row0");
                            if (option[decision] == 0) {
                              selectedRow.children("td:eq(2)").css("color", "black");
                              selectedRow.children("td:eq(2)").css("text-decoration", "line-through");
                              headerRow.children("td:eq(2)").css("color", "black");
                            }
                            else if (option[decision] == 1) {
                              selectedRow.children("td:eq(1)").css("color", "black");
                              selectedRow.children("td:eq(1)").css("text-decoration", "line-through");
                              headerRow.children("td:eq(1)").css("color", "black");
                            }
                            setTimeout(function() {
                                if (die[decision] > decision) {
                                    selectedRow.find(".die0").css("color", "black");
                                    selectedRow.find(".die0").css("text-decoration", "line-through");
                                }
                                else if (die[decision] <= decision) {
                                    selectedRow.find(".die1").css("color", "black");
                                    selectedRow.find(".die1").css("text-decoration", "line-through");
                                }
                                $("#ResultNode").html("<p>The computer randomly chose lottery " + 
                                  decision + ".</p><p>The computer rolled the die and got a " + die[decision] +
                                  ".</p><p>&#10140; You earned $" + originalPoints + ".</p>");
                            }, 2500);
                        }, 2500);
                        $(".WillingnessResult").removeClass("text-danger").addClass( "text-success" );
                        $(".WillingnessResult").html("<p>The amount chosen by the computer is $" + 
                          willingnessRand + ".</p><p> Your willingness to pay is $" + willingnessNum + ".</p><p>$" + willingnessRand + " &le; $" + 
                          willingnessNum + "</p><p>&#10140; You got to find out which lottery was selected and you paid $" + willingnessRand + " for it.</p>");
                    }
                    else {
                        $(".WillingnessResult").html("<p>The amount chosen by the computer is $" + 
                          willingnessRand + ".</p><p> Your willingness to pay is $" + willingnessNum + ".</p><p>$" + willingnessRand + " > $" + 
                          willingnessNum + "</p><p>&#10140; You don't get to find out which lottery was selected.</p>");
                        $(".WillingnessResult").removeClass("text-success").addClass( "text-danger" );
                    }
                    $("#WillingnessBtn").hide();
                    $("#Instruction11").hide();
                    $("#WillingnessAmount").hide();
                    $("#Continue").show();
                },
                error: function (data) {
                    alert( "An error occurred. Please try again." );
                }
            });
          }
        });

        $('#WillingnessAmount').keypress(function (e) {
          var value = $("#WillingnessAmount").val();
          if (checkWillingnessValue(value)) {
            if (e.which == 13) {
              $('#WillingnessBtn').click();
              return false;    //<---- Add this line
            }
          }
        });

        $("#Continue").click(function(){

          window.location.href = "../nextgame/lottery";
        });
    });
  </script>
{% endblock %}
