{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Thank you!{% endblock %}

{% block leftcontent %}
  <div class="WelcomeText" id="InstructionsDIV">
    <h1>Thank You For Playing!</h1>
    <!-- <p><b>You earned a total of ${{ totalEarning }}:</b></p> -->
    <p><b>You earned a total of ${{ experimentEarning }}.</b></p>
<!--     <ul>
      <li>You earned $5.00 for participating in this experiment.</li>
      <li>You earned ${{ experimentEarning }} from the games.</li>
 --><!--       <li>You will receive your payment electronically through Wolverine Access. On payment, you will receive a notification email from payroll@umich.edu.</li>
    </ul> -->
    <p><b>Stay alert, and don’t get fooled by phishing emails.</b></p>
    <ul>
      <li>Check your email for clues that indicate phishing attempts.</li>
      <li>Don't click suspicious links.</li>
      <li>Don't open suspicious documents, files, or attachments.</li>
    </ul>
    <p><b>If you think you got caught by a phishing attack, take immediate action  to minimize the damage.</b></p>
    <ul>
      <li>Change your UMICH password.</li>
      <li>Contact the ITS Service Center (4help@umich.edu) to report the incident.</li>
      <li>Review your online accounts for signs of unauthorized activity.</li>
      <li>Visit the <a href="http://www.safecomputing.umich.edu/main/phishing_alerts/">Safe Computing Phishing page</a> to learn more.</li>
    </ul>
  </div>

{% endblock %}

{% block rightcontent %}
<!--   <div style="margin:40px;">
    <img src="{% static 'games/media/271145_327_218.png' %}" alt="Thank you Fish Image" height="100%">
  </div> -->
  <form id="ThankYouForm" action="/Submit" method="post" style="margin-top:40px">
    <h4>Your payment will be mailed to you through U.S. Mail at the address you provide below:</h4>
    <div class="form-group">
      <label for="FullnameInput"></label>
      <input type="text" class="form-control" style="width:97%;" id="FullnameInput" placeholder="Full Name"></input>
    </div>
    <div id="FullnameInputError" role="alert" class="alert alert-danger" style="display:none;">
      Please enter your full name before submitting the form.
    </div>
    <div class="form-group">
      <label for="StreetInput"></label>
      <input type="text" class="form-control" style="width:97%;" id="StreetInput" placeholder="Street"></input>
    </div>
    <div id="StreetInputError" role="alert" class="alert alert-danger" style="display:none;">
      Please enter your street name before submitting the form.
    </div>
    <div class="form-group">
      <label for="CityInput"></label>
      <input type="text" class="form-control" style="width:97%;" id="CityInput" placeholder="City"></input>
    </div>
    <div id="CityInputError" role="alert" class="alert alert-danger" style="display:none;">
      Please enter your city name before submitting the form.
    </div>
    <div class="form-group">
      <label for="StateInput"></label>
      <input type="text" class="form-control" style="width:97%;" id="StateInput" placeholder="State"></input>
    </div>
    <div id="StateInputError" role="alert" class="alert alert-danger" style="display:none;">
      Please enter your state name before submitting the form.
    </div>
    <div class="form-group">
      <label for="ZipCodeInput"></label>
      <input type="text" class="form-control" style="width:97%;" id="ZipCodeInput" placeholder="Zip Code"></input>
    </div>
    <div id="ZipCodeInputError" role="alert" class="alert alert-danger" style="display:none;">
      Please enter your Zip Code before submitting the form.
    </div>
    <div class="row" style="margin-bottom:40px;">
      <div class="col-xs-4 ">
      </div>
      <div class="col-xs-4 ">
        <button id="SubmitBtn" type="submit" class="btn btn-lg btn-success">Continue to Survey</button>
      </div>
      <div class="col-xs-4 ">
      </div>
    </div>
  </form>
{% endblock %}

{% block scontent %}
  <!-- JavaScript code for this project -->
  <script>
    $(document).ready(function(){

      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });

      $('.number-only').keypress(function(e) {
        if(isNaN(this.value+""+String.fromCharCode(e.charCode))) return false;
      })
      .on("cut copy paste",function(e){
        e.preventDefault();
      });
       
      $( "#ThankYouForm" ).submit(function( event ) {
       
          // Stop form from submitting normally
          event.preventDefault();

          var errorInPage = false;

          // Get some values from elements on the page:
          var pretestComment = $('#PretestComment').val();
          var trainingComment = $('#TrainingComment').val();
          var gamesComment = $('#GamesComment').val();
          var fullnameInput = $('#FullnameInput').val();
          if (fullnameInput == "") {
            $("#FullnameInputError").show();
            errorInPage = true;
          }
          else {
            $("#FullnameInputError").hide();
          }
          var streetInput = $('#StreetInput').val();
          if (streetInput == "") {
            $("#StreetInputError").show();
            errorInPage = true;
          }
          else {
            $("#StreetInputError").hide();
          }
          var cityInput = $('#CityInput').val();
          if (cityInput == "") {
            $("#CityInputError").show();
            errorInPage = true;
          }
          else {
            $("#CityInputError").hide();
          }
          var stateInput = $('#StateInput').val();
          if (stateInput == "") {
            $("#StateInputError").show();
            errorInPage = true;
          }
          else {
            $("#StateInputError").hide();
          }
          var zipcodeInput = $('#ZipCodeInput').val();
          var zipRegex = /^\d{5}$/;

          if (zipcodeInput == "" || !zipRegex.test(zipcodeInput)) {
            $("#ZipCodeInputError").show();
            errorInPage = true;
          }
          else {
            $("#ZipCodeInputError").hide();
          }

          if (!errorInPage) {
            // Send the data using post
            var jqxhr = $.post( "{% url 'games:thankyousubmit' %}", { 'pretestComment': pretestComment, 'trainingComment': trainingComment, 'gamesComment': gamesComment, 'fullnameInput': fullnameInput, 'streetInput': streetInput, 'cityInput': cityInput, 'stateInput': stateInput, 'zipcodeInput': zipcodeInput })
                .done(function(data) {
                    window.location.href = "../survey/";
                })
                .fail(function() {
                    alert("Unfortunately your feedback has not been received. Please submit your feedback again. If you have seen this message repeatedly, please make sure you are connected to the Internet, Refresh the page and Submit your feedback again. Also, please feel free to contact us at: oneweb@umich.edu");
                });
          }
      });
    });
  </script>
{% endblock %}
