{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Thank you!{% endblock %}

{% block welcontent %}
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <div class="WelcomeText" id="InstructionsDIV" style="margin-top:40px;">
        <h1>Thanks For Playing!</h1>

        <h2>Stay Alert</h2>
        <p>Stay alert, and you won't be tricked by phishing emails.</p>

        <ul>
          <li>Check your own email for clues that indicate phishing attempts.</li>
          <li>Don't click suspicious links.</li>
          <li>Don't open suspicious documents, files, or attachments.</li>
        </ul>

        <h2>If You Get Caught</h2>
        <p>If you get caught, take action immediately to minimize the damage.</p>

        <ul>
          <li>Change your UMICH password</li>
          <li>Contact the ITS Service Center (<a href="mailto:4help@umich.edu">4help@umich.edu</a>) to report the incident so your U-M account can be checked for signs of compromise.</li>
        </ul>
        
      </div>
    </div>
    <div class="col-xs-2">
    </div>
  </div>

  <div class="row" style="margin-bottom:40px">
    <div class="col-xs-5 ">
    </div>
    <div class="col-xs-2">
      <a id="StartBtn" href="/training/final/" class="btn btn-lg btn-success">Continue</a>
    </div>
    <div class="col-xs-5 ">
    </div>
  </div>
{% endblock %}

{% block scontent %}
  <!-- JavaScript code for this project -->
  <script>
  </script>
{% endblock %}
