{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Welcome!{% endblock %}

{% block welcontent %}
  <div class="row">
    <div class="col-md-2 ">
    </div>
    <div class="col-md-8 ">
      <div class="WelcomeText" id="InstructionsDIV" style="margin-top:40px;">
        <h1>Welcome to the phishing awareness training study!</h1>
        <p>This study consists of three parts.</p>
        <ul>
          <li>In the first part, you will answer a series of security-related questions.</li>
          <li>In the second part, you will go through a phishing awareness training module.</li>
          <li>In the third part, you will play three virtual games with other participants of the study.</li>
        </ul>
        <p>Your payment in this experiment will depend on your decisions and those of other participants in the virtual games.</p>
        <p><i>Note:</i> This website uses cookies to ensure you get the best experience on our website.</p>
      </div>
    <div class="col-md-2 ">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5 ">
    </div>
    <div class="col-xs-2 ">
      <a href="/pretest/1" class="btn btn-lg btn-success">Start Pre-test</a>
    </div>
    <div class="col-xs-5 ">
    </div>
  </div>
{% endblock %}

{% block rightcontent %}
  <!-- <div style="margin:40px;">
    <img src="{% static 'games/media/19910_416_322.png' %}" alt="Welcome Page Fish Image" height="100%">
  </div> -->
{% endblock %}

{% block scontent %}
  <!-- JavaScript code for this project -->
  <script>
    $(document).ready(function(){
    });
  </script>
{% endblock %}
