{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Welcome!{% endblock %}

{% block welcontent %}
  <div class="row">
    <div class="col-md-2 ">
    </div>
    <div class="col-md-8 ">
      <div class="WelcomeText" id="InstructionsDIV" style="margin-top:40px;">
        <h1>Pre-test</h1>
        <p><b>Test Your Phishing Knowledge!</b></p>
        <p>Can you recognize phishing emails that try to steal your password and personal information and compromise your U-M account?</p>
        <p>Will you take the bait and get hooked?</p>
        <p>Or will you avoid the trap and swim free?</p>
      </div>
    <div class="col-md-2 ">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5 ">
    </div>
    <div class="col-xs-2 ">
      <a href="/pretest/1" class="btn btn-lg btn-success">Start Pre-test</a>
    </div>
    <div class="col-xs-5 ">
    </div>
  </div>
{% endblock %}

{% block rightcontent %}
  <!-- <div style="margin:40px;">
    <img src="{% static 'games/media/19910_416_322.png' %}" alt="Welcome Page Fish Image" height="100%">
  </div> -->
{% endblock %}

{% block scontent %}
  <!-- JavaScript code for this project -->
  <script>
    $(document).ready(function(){
    });
  </script>
{% endblock %}
